/* @import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;500;600;700&family=Roboto:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Livvic', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
/* } */

/* button{
  cursor: pointer;
} */

  

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,* {
    /* font-family: 'Livvic', sans-serif; */
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border-box: box-sizing;
  }

  /* ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.200);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(226, 58, 58);
  }   */
}